<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Adminity : Creative Admin Dashboard</title>

    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <link href="{{ asset('build/backend/css/lib/font-awesome.min.css') }}"      rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/themify-icons.css') }}"         rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/owl.carousel.min.css') }}"      rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/weather-icons.css') }}"         rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/menubar/sidebar.css') }}"       rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/bootstrap.min.css') }}"         rel="stylesheet">
    <link href="{{ asset('build/backend/css/lib/unix.css') }}"                  rel="stylesheet">
    <link href="{{ asset('build/backend/css/style.css') }}"                     rel="stylesheet">

    {{ encore_entry_link_tags('app_admin') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'back/components/admin_sidebar.html.twig' %}

    {% include 'back/components/admin_header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'back/components/search.html.twig' %}

    <script src="{{ asset('build/backend/js/lib/jquery.min.js') }}"                             ></script>
    <script src="{{ asset('build/backend/js/lib/jquery.nanoscroller.min.js') }}"                ></script>
    <script src="{{ asset('build/backend/js/lib/menubar/sidebar.js') }}"                        ></script>
    <script src="{{ asset('build/backend/js/lib/preloader/pace.min.js') }}"                     ></script>
    <script src="{{ asset('build/backend/js/lib/bootstrap.min.js') }}"                          ></script>
    <script src="{{ asset('build/backend/js/lib/circle-progress/circle-progress.min.js') }}"    ></script>
    <script src="{{ asset('build/backend/js/lib/circle-progress/circle-progress-init.js') }}"   ></script>
    <script src="{{ asset('build/backend/js/lib/sparklinechart/jquery.sparkline.min.js') }}"    ></script>
    <script src="{{ asset('build/backend/js/lib/sparklinechart/sparkline.init.js') }}"          ></script>
    <script src="{{ asset('build/backend/js/lib/owl-carousel/owl.carousel.min.js') }}"          ></script>
    <script src="{{ asset('build/backend/js/lib/owl-carousel/owl.carousel-init.js') }}"         ></script>
    <script src="{{ asset('build/backend/js/scripts.js') }}"                                    ></script>

    {{ encore_entry_script_tags('app_admin') }}

    {% block javascripts %}{% endblock %}
</body>
</html>