{% extends 'front/layouts/base_auth.html.twig' %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h4>Register</h4>

    {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    {% for passwordField in registrationForm.plainPassword  %}
        <div class="form-group">
            {{ form_row(passwordField, {'attr': {'class': 'form-control'}}) }}
        </div>
    {% endfor %}
        <button type="submit" class="btn" id="reg_btn">Register</button>
        <div class="social-login-content">
            <div class="social-button">
                <button type="button" class="btn btn-primary bg-facebook btn-flat btn-addon m-b-10"><i class="ti-facebook"></i>Register with facebook</button>
                <button type="button" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"><i class="ti-twitter"></i>Register with twitter</button>
            </div>
        </div>
        <div class="register-link m-t-15 text-center">
            <p>Already have account ? <a href="{{ path('app_login') }}"> Sign in</a></p>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
